body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  
  $nav-hight: 3.5rem;
  nav {
    position: fixed;
    top: 0px;
    background-color: #333;
    width: 100%;
    min-width: 20rem;
    height: $nav-hight;
    z-index: 2;

    ul {
      list-style: none;
      display: flex;

      li {
        width: 140px;
        text-align: center;
        background-color: #333;
        margin-right: 2px;
  
        .link-button {
          text-decoration: none;
          color: #fff;
          font-weight: bold;
          padding: 20px;
        }
      }
    }
  }

  #mainFrame {
    margin: 1rem;
    margin-top: $nav-hight;
  }
}
